.gridContainer {
    display: grid;
}

.myFace {
    width: 150px;
    height: 150px;
    /* object-fit: cover; */
    /* overflow: hidden; */
    border-radius: 100px;
    display: block;
    margin: 0 auto;
}

.disclaimer {
    font-weight: 700
}

.githubLink {
    color: #2f2fff;
    text-decoration: underline;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .gridContainer {
        grid-template-columns: 1fr 2fr;
        max-width: 100rem;
    }
}