.container {
    display: flex;
    justify-content: center;
}

.cardContainer {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    width: 100%;
    margin-bottom: 2rem;
}

.img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.body {
    padding: 15px;
}

.title {
    font-weight: 700;
}

.description {
    margin-top: 1rem;
    color: gray;
}

@media (min-width: 992px) {
    .cardContainer {
        width: 50rem;
    }
  }