.header {
    height: 90vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(126, 213, 111, 0.8), 
        rgba(40, 180, 133, 0.8)), 
    url(../public/computer.png);
    background-size: cover;
    background-position: top;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.textBox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.headingPrimary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden; /* prevent animation shaking */
    margin-bottom: 60px;
}

.headingPrimaryMain {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 3rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* 
    animation-delay: 3s;
    animation-iteration-count: 3;
    */
}

.headingPrimarySub {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 17.4px;
    margin-top: 3rem;

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
}

.btnWhite {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btnWhite::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btnAnimated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; /* do not display element until animation starts */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .headingPrimaryMain {
        font-size: 6rem;
    }

    .headingPrimarySub {
        font-size: 2rem;
    }
}